<!DOCTYPE html>
<html class="no-mega js skrollr skrollr-desktop" data-request-id="43c5f683-e7b8-40c1-89e8-48c694d3637f" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">

      <style type="text/css"></style>
      <style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
         .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
         .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
      </style>
   </head>
   <body class="minimal projects not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable fixed-width is_creator transition-all skip_autologin started au" id="projects_edit">
      <%= render 'header' %>
      <%= render 'user_menu' %>
      <div id="start-of-content" tabindex="-1"></div>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div class="modal_dialog" data-title="Just one moment..." id="progress_modal" style="display: none;">
            <div class="modal_dialog_outer">
               <div class="modal_dialog_sizer">
                  <div class="modal_dialog_inner">
                     <div class="modal_dialog_content">
                        <div class="modal_dialog_head">
                           <h4>Just one moment...</h4>
                           <a class="modal_dialog_close" href="#"><span class="ksr-icon__close" aria-hidden="true"></span></a>
                        </div>
                        <div class="modal_dialog_body">
                           <div id="progress_modal_label">
                              We're scanning your project to see if we can help you launch sooner!
                           </div>
                           <h6 class="progress_bar_light progress_bar progress_bg">
                              <div class="progress_bar_bg">
                                 <div class="progress progress_bar_progress"></div>
                              </div>
                           </h6>
                        </div>
                     </div>
                  </div>
                  <span class="modal_dialog_ie_hack"></span>
               </div>
            </div>
         </div>
         <div class="bg-grey-light py3 py7-sm">
            <div class="NS_projects__edit_nav clearfix">
               <div class="relative l-50 right" id="project_build_nav">
                  <div class="relative l50">
                     <ul class="list clearfix m0 ml2 mr2" id="project-edit-nav">
                        <li class="steps left bg-white border rounded">
                           <ol class="m0" id="steps-nav">
                              <li class="left">
                                 <a style="width: 1000px; text-align: center" class="block p3 bold f5 green-dark border-right hover-bg-grey-light" target="_blank">
                                 CREATE PROJECT
                                 </a>
                              </li>
                           </ol>
                        </li>
                     </ul>
                     <div class="rounded bg-white p3 border clearfix ml2 mr2" id="confirm-preview-nav">
                        <p class="m0 left mt2">
                           <strong>Everything in order?</strong> You can submit your project now or edit further.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="container" id="continue_nav">
                  <div class="grid_16">
                     <a class="project_build p3 bold f5 green-dark hover-bg-grey-light rounded border bg-white left" href="#">
                     <span class="check-icon circle bg-green white">
                     <span class="ss-icon ss-navigateleft relative" style="left: 1px"></span>
                     </span>
                     Return to Project Build
                     </a>
                  </div>
               </div>
            </div>
            <div class="content-toggle" id="content-wrap">
               <div class="z1" id="loading" style="display: none;"></div>
               <div class="content" data-category_id="1" id="forms">
                 <div class="py3 py10-sm">
                  <div id="running-board-wrap">
                    <div class="container" id="running-board">
                      <ol class="help-panels" style="height: auto;">
                        <li class="panel selected center" id="the-basics-help" style="display: block;">
                          <h2 class="mb2">Let’s get started.</h2>
                          <p class="f3 m0">Make a great first impression with your project’s title and image, and set your funding goal, campaign duration, and project category.</p>
                        </li>
                      </ol>
                    </div>
                  </div>
                  </div>
                  <div class="container mb3 mb10-sm">
                     <div class="bg-white rounded border clearfix ml2 mr2 py3 pl2 pr2">
                        <div id="main">
                           <div class="window" style="width: 880px">
                              <ol class="form-panels">
                                 <li class="panel" data-panel_id="the-basics" id="the-basics-panel" style="width: 880px">
                                   <%= form_tag projects_path, class: 'edit_project', role: 'form', id: "edit_project_2938557", "accept-charset"=> "UTF-8", method: :post do %>
                                       <fieldset class="m0">
                                          <ol class="fields m0">
                                            <li class="project-video js-asset-uploads" data-subtitles-path="/video_tracks">
                                                <div class="grey-field clearfix mb3">
                                                   <label class="primary" for="project_video">Project video</label>
                                                   <div class="field-wrapper">
                                                      <div class="js-asset-upload asset_upload video">
                                                         <div class="error">
                                                            <div class="message"></div>
                                                         </div>
                                                         <div class="success">
                                                            <div class="image-clip">
                                                               <a class="remove" href="/projects/46676441/1772785039/video">
                                                                  <div class="circle_x">
                                                                     <span class="ss-icon ss-delete"></span>
                                                                  </div>
                                                               </a>
                                                               <img class="preview" src="https://static.kickstarter.com/assets/trans_50_black-9dfe8581ba0aebae05e21b7e89da8b1b143de53aabbcf00c99e32f443de4062f.png" alt="Trans 50 black">
                                                            </div>
                                                         </div>
                                                         <div class="upload">
                                                            <input type="file" name="file" id="file" url="https://ksr-client-uploads.s3.amazonaws.com" data-params="{&quot;bucket&quot;:&quot;ksr-client-uploads&quot;,&quot;acl&quot;:&quot;private&quot;,&quot;key&quot;:&quot;ugc/3313d2006f82a844&quot;,&quot;AWSAccessKeyId&quot;:&quot;AKIAJJHXSS6EMLSOSPLQ&quot;,&quot;policy&quot;:&quot;eyJleHBpcmF0aW9uIjoiMjAxNy0wNC0yOFQwMzo0MzozN1oiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJrc3ItY2xpZW50LXVwbG9hZHMifSx7ImFjbCI6InByaXZhdGUifSx7ImtleSI6InVnYy8zMzEzZDIwMDZmODJhODQ0In0sWyJzdGFydHMtd2l0aCIsIiRzdWNjZXNzX2FjdGlvbl9yZWRpcmVjdCIsIiJdXX0=&quot;,&quot;signature&quot;:&quot;2iNoR3IIe7265rhX4w20VMypyRs=&quot;}" data-asset-path="/projects/46676441/1772785039/video" class="video file">
                                                            <strong class="center">
                                                            Choose a video from your computer <span>MOV, MPEG, AVI, MP4, 3GP, WMV, or FLV • 5GB file limit</span>
                                                            </strong>
                                                            <div class="encode">
                                                               <div class="image-placeholder"></div>
                                                               <div class="message">
                                                                  <strong>Your video is being encoded...</strong>
                                                                  <p>
                                                                     This usually takes a few minutes. Feel free to continue working or leave the page. Your video will appear when it’s ready. If it doesn’t appear after 20 minutes, <a class="retry_upload" href="#">retry the upload</a>.
                                                                  </p>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div style="text-align: center; margin-top: 5px; margin-bottom: 5px">
                                                        OR
                                                      </div>
                                                      <div class="character_counter_wrapper">
                                                        <%= text_field_tag :video_url, '', class: 'required text', type: 'text', placeholder: 'Enter a public URL for the video', id: 'project_video' %>
                                                      </div>
                                                      <div class="field-help-2">
                                                         <p>
                                                            Have fun – add a video! Projects with a video have a much higher chance of success. For a dose of inspiration, check out the <a class="has-icon popup" target="_blank" href="/help/handbook/your_story?ref=build_story">Creator Handbook</a>.
                                                            Need some help? Visit our <a class="has-icon popup" target="_blank" href="https://www.kickstarter.com/help/faq/creator+questions?ref=build_story#faq_41830">Creator FAQ</a>.
                                                         </p>
                                                      </div>
                                                   </div>
                                                   <div class="js-asset-uploads--tracks"></div>
                                                </div>
                                             </li>
                                             <li class="project-image">
                                                <div class="grey-field mb3 clearfix">
                                                   <label class="primary" for="project_photo">Project image</label>
                                                   <div class="field-wrapper main-project-image">
                                                      <div class="js-asset-upload asset_upload project required">
                                                         <div class="upload">
                                                            <input type="file" name="project[photo]" id="project_photo" class="photo file" url="/projects/46676441/1772785039/photo" data-help_section="project-image-help">
                                                            <strong class="center">
                                                            Choose an image from your computer <span class="has_file_hide">This is the main image associated with your project. Make it count!</span><span>JPEG, PNG, GIF, or BMP • 50MB file limit</span> <span>At least 1024x576 pixels • 16:9 aspect ratio</span>
                                                            </strong>
                                                         </div>
                                                      </div>
                                                      <div style="text-align: center; margin-top: 5px; margin-bottom: 5px">
                                                        OR
                                                      </div>
                                                      <div class="character_counter_wrapper">
                                                        <%= text_field_tag :image_url, '', class: 'required text', type: 'text', placeholder: 'Enter a public URL for the image', id: 'project_image' %>
                                                      </div>
                                                      <div class="field-help-2">
                                                         <p>
                                                            This is the first thing that people will see when they come across your project. Choose an image that’s crisp and text-free. <a target="_blank" href="/help/images?ref=edit">Here are some tips</a>.
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                             <li class="project-title">
                                                <div class="grey-field mb3 clearfix">
                                                   <label class="primary" for="project_name">Project title</label>
                                                   <div class="field-wrapper">
                                                      <div class="character_counter_wrapper">
                                                        <%= text_field_tag :title, '', maxlength: '60', class: 'required text', type: 'text', placeholder: 'Enter title for project', id: 'project_name' %>
                                                      </div>
                                                      <div class="field-help-2">
                                                         <p>Our search looks through words from your project title and blurb, so make them clear and descriptive of what you’re making. Your profile name will be searchable, too.</p>
                                                         <p>These words will help people find your project, so choose them wisely! Your name will be searchable too.</p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                             <li class="short-description">
                                                <div class="grey-field mb3 clearfix">
                                                   <label class="primary" for="project_blurb">Short blurb</label>
                                                   <div class="field-wrapper">
                                                      <div class="character_counter_wrapper">
                                                        <%= text_area_tag :description, '', maxlength: '200', class: 'required textarea', type: 'text', placeholder: 'Enter description for project', id: 'project_blurb' %>
                                                      </div>
                                                      <div class="field-help-2">
                                                         <p>Give people a sense of what you’re doing. Skip “Help me” and focus on what you’re making.</p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                             <li class="category">
                                                <div class="grey-field mb3 clearfix">
                                                   <label class="primary" for="project_category_id">Type</label>
                                                   <div class="field-wrapper">
                                                      <%= text_field_tag :type, '', class: 'required text', type: 'text', placeholder: 'Eg: Music', id: 'project_type' %>
                                                   </div>
                                                </div>
                                             </li>
                                             <li class="category">
                                                <div class="grey-field mb3 clearfix">
                                                   <label class="primary" for="project_category_id">Tags</label>
                                                   <div class="field-wrapper">
                                                      <%= text_field_tag :tags, '', class: 'required text', type: 'text', placeholder: 'Eg: art,music,technology', id: 'project_tags' %>
                                                   </div>
                                                </div>
                                             </li>
                                             <li class="location">
                                                <div class="grey-field mb3 clearfix">
                                                   <label class="primary" for="project_location_name">Project location</label>
                                                   <div class="field-wrapper">
                                                      <div class="field">
                                                        <%= text_field_tag :location, '', class: 'input-text text', type: 'text', placeholder: 'Eg: Brooklyn, NY', id: 'project_location' %>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                             <li class="funding-duration">
                                                <div class="grey-field mb3 clearfix">
                                                   <label class="primary" for="project_deadline">Funding duration</label>
                                                   <div class="field-wrapper">
                                                      <ul class="options">
                                                         <li class="option number-of-days flex">
                                                            <label class="option_label" for="duration_duration"><strong>Number of days</strong></label>
                                                            <div class="input-container bg-white border">
                                                               <div class="p2">
                                                                  <%= text_field_tag :days, '', length: "3", size: "3", class: 'text', type: 'text', placeholder: 'Eg: 10', id: 'project_campaign_attributes_duration' %>
                                                                  <div class="rec pt1">Up to 60 days, but we recommend 30 or fewer</div>
                                                               </div>
                                                            </div>
                                                         </li>
                                                      </ul>
                                                      <div class="field-help-2">
                                                         <p>
                                                            Projects with shorter durations have higher success rates. You won’t be able to adjust your duration after you launch.
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                             <li class="funding-goal">
                                                <div class="grey-field clearfix">
                                                   <label class="primary" for="project_campaign_attributes_goal">Funding goal</label>
                                                   <div class="field-wrapper">
                                                     <%= text_field_tag :goal, '', length: "10", size: "10", class: 'js-campaign-goal text', type: 'text', placeholder: 'Eg: USD$ 10000', id: 'project_campaign_attributes_goal' %>
                                                      <div class="field-help-2">
                                                         <p>Funding on Kickstarter is all-or-nothing. It’s okay to raise more than your goal, but if your goal isn’t met, no money will be collected. Your goal should reflect the minimum amount of funds you need to complete your project and send out rewards, and include a buffer for payments processing fees.</p>
                                                         <p>If your project is successfully funded, the following fees will be collected from your funding total: Kickstarter’s 5% fee, and payment processing fees (between 3% and 5%). If funding isn’t successful, there are no fees.
                                                         </p>
                                                         <p></p>
                                                         <div class="NS_projects_view_fees">
                                                            <a class="remote_modal_dialog js-view-fees" data-modal-title="Fees" data-modal-class="fees" href="/projects/fees?country=AU&amp;stripe=true">View fees breakdown</a>
                                                         </div>
                                                         <p></p>
                                                      </div>
                                                   </div>
                                                   <input type="hidden" value="2938557" name="project[campaign_attributes][id]" id="project_campaign_attributes_id" class="hidden">
                                                </div>
                                             </li>
                                          </ol>
                                       </fieldset>
                                       <div class="alt-tools list-inline ml2 mt3">
                                          <div class="mr3 clearfix">
                                            <button type="submit" class="btn btn--green btn--block submit">CREATE PROJECT</button>
                                          </div>
                                       </div>
                                    <% end %>
                                 </li>
                              </ol>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <%= render 'svg' %>
   </body>
</html>
