<!DOCTYPE html>
<html class="users_profile_about fontface js" data-request-id="2adcee6b-713b-4ba3-b119-8469419c0018" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">      
   </head>
   <body class="profile users not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable responsive skip_autologin" id="users_profile_about">
      <div class="NS_layouts__notifications"></div>
      <%= render 'header' %>
      <%= render 'user_menu' %>
      <div id="start-of-content" tabindex="-1"></div>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div id="main_content">
            <div class="z2" id="hover_label"></div>
            <%= render 'user_profile', locals: {backed_count: @projects.count, user: @user, is_following: @is_following} %>
            <div class="container-flex mobile-scroll-container px3">
               <div class="row mobile-scroll-row">
                  <div class="col col-12">
                     <div class="nav--subnav js-nav--subnav nav--subnav--center nav--subnav--short">
                        <div class="js-nav--subnav__selected-indicator nav--subnav__selected-indicator" style="left: 353.734px; width: 60px;"></div>
                        <ul class="nav--subnav__list">
                           <li class="nav--subnav__item">
                              <div class="nav--subnav__item__link nav--subnav__item__link--gray js-about-link current">About
                              </div>
                           </li>
                           <li class="nav--subnav__item">
                              <a class="nav--subnav__item__link nav--subnav__item__link--gray  js-backed-link" href="/users/<%= params[:id] %>/profile/backed">Backed
                              <span class="count">
                              <%= @projects.count %>
                              </span>
                              </a>
                           </li>
                           <li class="nav--subnav__item">
                              <a class="nav--subnav__item__link nav--subnav__item__link--gray  js-comments-link" href="/users/<%= params[:id] %>/profile/comments">Comments
                              <span class="count">
                              <%= @comments.count %>
                              </span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="border-top" id="content-wrap">
               <div class="grid-container pb5 mt5" id="content">
                  <div class="grid-row">
                     <div class="col-full col-sm-20-24 col-md-16-24 col-center">
                        <div class="grid-row pt3">
                           <div class="col-full col-sm-5-20 col-md-5-16">
                              <h5 class="navy-500 f5">
                                 Biography
                              </h5>
                           </div>
                           <div class="col-full col-sm-15-20 col-md-11-16">
                              <div class="inline-block mb3">
                                 <div class="superbacker-badge tipsy_s" original-title="Super! This backer has supported a lot of projects." style="margin-left: 0;">
                                    Superbacker
                                 </div>
                              </div>
                              <p class="mb3 navy-600"></p>
                              <p>boardgamer. videogamer. traveler. photographer. storyteller. rambler. jack of most trades.</p>
                              <p></p>
                           </div>
                        </div>
                        <div class="grid-row pt3">
                           <hr class="pb3">
                           <div class="col-full col-sm-5-20 col-md-5-16">
                              <h5 class="navy-500 f5">
                                 Websites
                              </h5>
                           </div>
                           <div class="col-full col-sm-15-20 col-md-11-16">
                              <ul class="menu-submenu mb6">
                                 <li>
                                    <a rel="nofollow" target="_blank" href="http://twitter.com/zenxacred">twitter.com
                                    </a>
                                 </li>
                                 <li>
                                    <a rel="nofollow" target="_blank" href="http://youtube.com/NeatoZen">youtube.com
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>

      <%= render 'svg' %>
   </body>
</html>
