<!DOCTYPE html>
<html class="users_edit fontface js" data-request-id="8bf20d5f-f0c7-4e55-be53-e637a5ae4e7f" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">

   </head>
   <body class="users_edit users not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable responsive skip_autologin" id="users_edit_account">
      <div class="NS_layouts__notifications"></div>
      <%= render 'header' %>
      <%= render 'user_menu' %>
      <div id="start-of-content" tabindex="-1"></div>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div id="main_content">
            <section class="px3 mb3 bg-white border-bottom">
               <div class="container-flex px3 pt3 pt10-sm mobile-scroll-container">
                  <h1>Settings</h1>
                  <div class="nav--subnav js-nav--subnav mobile-scroll-row">
                     <div class="js-nav--subnav__selected-indicator nav--subnav__selected-indicator--blue" style="left: 0px; width: 56px;"></div>
                     <ul class="nav--subnav__list">
                        <li class="nav--subnav__item">
                           <div class="nav--subnav__item__link nav--subnav__item__link--gray current">Account</div>
                        </li>
                        <li class="nav--subnav__item"><a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/profile">Edit profile</a></li>
                        <li class="nav--subnav__item"><a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/credit_cards">Payment methods</a></li>
                        <li class="nav--subnav__item">
                           <a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/following">Following</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </section>
            <div class="container-flex px3">
               <div class="row">
                 <% if notice %>
                   <div style="text-align: center; font-weight: bold; padding-bottom: 0px" class="btn btn--green btn--block submit">
                     <p>User created successfully!</p>
                     <p>Login to EXPLORE</p>
                   </div>
                  <% end %>
                  <% if alert %>
                    <div style="color: red; font-weight: bold" class="jGrowl-message">
                      <p>The email address and password you entered do not match.</p>
                    </div>
                  <% end %>
                  <div class="col col-5 col-post-1">
                    <%= form_tag password_reset_path, class: 'form-simple form-stacked', role: 'form', "accept-charset"=> "UTF-8", method: :post do %>
                        <fieldset class="mb3 mb10-sm">
                           <ol class="f5">
                              <li class="py2">
                                 <label class="bold" for="user_email">Email</label>
                                 <%= text_field_tag :email, '', class: 'input-text full-width text', value: @user['email'], style: 'width: 100%', type: 'text', placeholder: 'Enter an email address', id: 'user-email' %>
                              </li>
                              <li class="change_password py2 js-hide" style="display: list-item;">
                                 <label class="bold">New Password</label>
                                 <%= text_field_tag :password, '', class: 'input-text full-width js-auto_focus fs-hide password', type: 'password', placeholder: 'Password' %>
                                 <span class="grey-dark">Minimum 6 characters</span>
                              </li>
                              <li class="change_password py2 js-hide" style="display: list-item;">
                                 <label class="bold">Confirm Password</label>
                                 <%= text_field_tag :confirm_password, '', class: 'input-text full-width js-auto_focus fs-hide password', type: 'password', placeholder: 'Password' %>
                                 <span class="grey-dark">Make sure they match!</span>
                              </li>
                              <li class="current_password py2">
                                 <label class="bold">Current Password</label>
                                 <%= text_field_tag :current_password, '', class: 'input-text full-width js-auto_focus fs-hide password', type: 'password', placeholder: 'Password' %>
                                 <span class="grey-dark">
                                 Enter your current password to save these changes.
                                 </span>
                              </li>
                           </ol>
                           <div class="form-submit">
                              <input type="submit" name="commit" value="Reset password" class="btn btn--blue submit">
                           </div>
                        </fieldset>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </main>

      <%= render 'svg' %>
   </body>
</html>
