<!DOCTYPE html>
<html class="users_show fontface js" data-request-id="8100a8cf-4622-425b-92de-1b70d2e135ea" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">

      
   </head>
   <body class="profile users not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable responsive skip_autologin" id="users_show">
      <div class="NS_layouts__notifications"></div>
      <%= render 'header' %>
      <%= render 'user_menu' %>
      <div id="start-of-content" tabindex="-1"></div>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div id="main_content">
            <div class="z2" id="hover_label"></div>
            <%= render 'user_profile', locals: {backed_count: @projects.count, user: @user, is_following: @is_following}%>
            <div class="container-flex mobile-scroll-container px3">
               <div class="row mobile-scroll-row">
                  <div class="col col-12">
                     <div class="nav--subnav js-nav--subnav nav--subnav--center nav--subnav--short">
                        <div class="js-nav--subnav__selected-indicator nav--subnav__selected-indicator" style="left: 435.609px; width: 75px;"></div>
                        <ul class="nav--subnav__list">
                           <li class="nav--subnav__item">
                              <a class="nav--subnav__item__link nav--subnav__item__link--gray  js-about-link" href="/users/<%= params[:id] %>/profile/about">About
                              </a>
                           </li>
                           <li class="nav--subnav__item">
                              <div class="nav--subnav__item__link nav--subnav__item__link--gray  js-backed-link current" href="/users/<%= params[:id] %>/profile/backed">Backed
                              <span class="count">
                              <%= @projects.count %>
                              </span>
                              </div>
                           </li>
                           <li class="nav--subnav__item">
                              <a class="nav--subnav__item__link nav--subnav__item__link--gray js-comments-link" href="/users/<%= params[:id] %>/profile/comments">Comments
                              <span class="count">
                              <%= @comments.count %>
                              </span>
                            </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="border-top" id="content-wrap">
               <div class="grid-container pb5 mt5" id="content">
                  <div class="grid-row">
                     <div id="profile_projects_list">
                        <div id="list">
                           <div class="mobius_page">
                              <div class="missing" style="display: none">
                                 <div class="load_more">
                                    <a class="load_more btn btn--gray" href="#">Load more</a>
                                 </div>
                              </div>
                              <ul class="mobius">
                                 <li class="page" data-last_page="false" data-page_number="1">
                                   <% @projects.each do |project| %>
                                     <div class="col-full col-sm-8-24 mb5 col-md-6-24">
                                        <div class="js-track-project-card project-card project-card--spotlight project-card-tall ratio-16-9" data-pid="1572077801" data-project_backers_count="3627" data-project_percent_raised="2340.1049285714284" data-project_pid="1572077801" data-project_pledged="327614.69" data-project_state="successful" data-section="profile_backed" style="">
                                           <div class="project-profile-feature-image">
                                              <div class="projects-we-love-badge projects-we-love-badge--overlay">
                                                 <div class="icon"><span class="ksr-icon__heart" aria-hidden="true"></span></div>
                                                 <div class="label">Project We Love</div>
                                              </div>
                                              <a href="/projects/<%= project['id'] %>" target="">
                                                 <div class="project-profile-card__background" style="background-color: #67b3a7; ">
                                                    <div class="bg-black hide project-profile-card__background"></div>
                                                    <div class="project-profile-card__background" style="opacity: 0.8;"></div>
                                                 </div>
                                                 <img src=<%= project['search_thumbnail_large'] %>>
                                              </a>
                                           </div>
                                           <div class="project-card-content">
                                              <div class="project-profile-title text-truncate-xs">
                                                 <a target="" href="/projects/<%= project['id'] %>"><%= project['title'] %></a>
                                              </div>
                                              <p class="project-profile-blurb type-12">
                                                 <%= project['description'] %>
                                              </p>
                                           </div>
                                           <div class="project-profile-footer">
                                              <div class="one-pixel-divider bg-green-dark" style=""></div>
                                              <div class="project-profile-footer__content">

                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                   <% end %>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <%= render 'svg' %>
   </body>
</html>
