<!DOCTYPE html>
<html class="users_comments fontface js" data-request-id="f21a1b0c-22f1-41bd-930f-c65865142f7c" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">

      
   </head>
   <body class="profile users not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable responsive skip_autologin" id="users_comments">
      <div class="NS_layouts__notifications"></div>
      <%= render 'header' %>
      <%= render 'user_menu' %>
      <div id="start-of-content" tabindex="-1"></div>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div id="main_content">
            <div class="z2" id="hover_label"></div>
            <%= render 'user_profile', locals: {backed_count: @projects.count, user: @user, is_following: @is_following} %>
            <div class="container-flex mobile-scroll-container px3">
               <div class="row mobile-scroll-row">
                  <div class="col col-12">
                     <div class="nav--subnav js-nav--subnav nav--subnav--center nav--subnav--short">
                        <div class="js-nav--subnav__selected-indicator nav--subnav__selected-indicator" style="left: 545.609px; width: 93px;"></div>
                        <ul class="nav--subnav__list">
                           <li class="nav--subnav__item">
                              <a class="nav--subnav__item__link nav--subnav__item__link--gray  js-about-link" href="/users/<%= params[:id] %>/profile/about">About
                              </a>
                           </li>
                           <li class="nav--subnav__item">
                              <a class="nav--subnav__item__link nav--subnav__item__link--gray  js-backed-link" href="/users/<%= params[:id] %>/profile/backed">Backed
                              <span class="count">
                              <%= @projects.count %>
                              </span>
                              </a>
                           </li>
                           <li class="nav--subnav__item">
                              <div class="nav--subnav__item__link nav--subnav__item__link--gray js-comments-link current">Comments
                              <span class="count">
                              <%= @comments.count %>
                              </span>
                            </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="border-top" id="content-wrap">
               <div class="grid-container pb5 mt5" id="content">
                  <div class="grid-row">
                     <div class="col-full col-md-16-24 col-center">
                        <div class="mobius_page">
                           <div class="missing" style="display: none">
                              <div class="load_more">
                                 <a class="load_more btn btn--gray" href="#">Load more</a>
                              </div>
                           </div>
                           <ul class="mobius">
                              <li class="page" data-last_page="false" data-page_number="1">
                                 <ol id="activity">
                                   <% @comments.each do |comment| %>
                                     <li class="activity-comment-project">
                                        <span class="quote">“</span>
                                        <p class="body">
                                          <%= comment['comment'] %>
                                        </p>
                                        <p>
                                           <a class="read-more" href="/projects/1350948450/gloomhaven-second-printing/comments?cursor=16619152#comment-16619151"><time datetime="2017-05-01T14:33:56-04:00" data-format="ll" class="js-adjust-time"><%= comment['created_at'] %></time></a> on <b><%= comment['title'] %></b>
                                        </p>
                                     </li>
                                   <% end %>
                                 </ol>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <%= render 'svg' %>
   </body>
</html>
