<!DOCTYPE html>
<html class="credit_cards_index no-mega fontface js" data-request-id="817303d9-2573-43f9-802e-84fb6613c007" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">

      <style type="text/css"></style>

      <style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
         .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
         .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
      </style>
   </head>
   <body class="users_edit credit_cards not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable fixed-width skip_autologin" id="credit_cards_index">
      <div class="NS_layouts__notifications"></div>
      <%= render 'header' %>
      <%= render 'user_menu' %>
      <div id="start-of-content" tabindex="-1"></div>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div id="main_content">
            <section class="px3 mb3 bg-white border-bottom">
               <div class="container-flex px3 pt3 pt10-sm mobile-scroll-container">
                  <h1>Settings</h1>
                  <div class="nav--subnav js-nav--subnav mobile-scroll-row">
                     <div class="js-nav--subnav__selected-indicator nav--subnav__selected-indicator--blue" style="left: 213px; width: 121px;"></div>
                     <ul class="nav--subnav__list">
                        <li class="nav--subnav__item">
                           <a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/account">Account</a>
                        </li>
                        <li class="nav--subnav__item"><a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/profile">Edit profile</a></li>
                        <li class="nav--subnav__item"><div class="nav--subnav__item__link nav--subnav__item__link--gray current" href="/profile/credit_cards">Payment methods</div></li>
                        <li class="nav--subnav__item">
                           <a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/following">Following</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </section>
            <div class="container-flex px3">
               <div id="manage_credit_cards">
                  <div class="row relative mb2">
                     <div class="col col-8">
                        <div class="title">
                           <h3>
                              Manage payment options
                           </h3>
                        </div>
                        <p class="intro mb0">
                           Any payment methods you've saved to Kickstarter are listed here (securely) for your convenience. You can always click "Remove this card" to take one off the list.
                        </p>
                     </div>
                     <div class="absolute b0 r0">
                        <a class="btn btn--green js-add-source show" href="#">Add a new card</a>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col col-12">
                        <div class="col col-8">
                           <div class="payment_form p4 border rounded-medium bg-violet-100 mb4">
                              <!-- bare form only -->
                              <div class="mt2" id="new_card_form" style="display: block;">
                                 <div class="js-ksr-stripe" id="credit_card_form">
                                    <form data-accepted-card-types="[&quot;visa&quot;, &quot;mastercard&quot;, &quot;amex&quot;, &quot;jcb&quot;]" data-public-key="pk_live_zjuK52lEUYcvBhIXEUnOEJzk" method="post" novalidate="novalidate" target="_self">
                                       <div class="errored hide"></div>
                                       <div id="card-info">
                                          <fieldset>
                                             <legend>
                                                Add card information
                                                <span class="secure">
                                                <span class="ksr-icon__lock" aria-hidden="true"></span>
                                                Secure
                                                </span>
                                             </legend>
                                             <ol class="grouped">
                                                <li class="required" id="card_number">
                                                   <label for="number">Card number</label>
                                                   <input type="text" name="number" id="number" pattern="[0-9]*" placeholder="Card number" autocomplete="cc-number" data-stripe="number" required="required" aria-required="true" class="fs-hide text">
                                                   <div class="error-messages-container">
                                                      <ul class="error-messages js-error-messages"></ul>
                                                   </div>
                                                </li>
                                                <li class="required" id="card_name">
                                                   <label for="name">Name</label>
                                                   <input type="text" name="name" id="name" placeholder="Name" autocomplete="name" data-stripe="name" required="required" aria-required="true" class="text">
                                                   <div class="error-messages-container">
                                                      <ul class="error-messages js-error-messages"></ul>
                                                   </div>
                                                </li>
                                                <li class="required" id="card_name" style="display: flex; justify-content: space-between; width: 150px; align-items: center; margin-top: 10px">
                                                  <div class="checkbox-container">
                                                    <div>
                                                      <input type="checkbox" id="rounded" />
                                                      <label for="rounded"></label>
                                                    </div>
                                                  </div>
                                                   <label for="name">Set as default</label>
                                                </li>
                                                <li class="required" data-min_date="2017-05-01" id="card_expiration">
                                                   <label for="Expiration">Expiration</label>
                                                   <select name="exp_month" id="exp_month" autocomplete="cc-exp-month" data-stripe="exp_month" required="required" aria-required="true" class="select">
                                                      <option value="01">01</option>
                                                      <option value="02">02</option>
                                                      <option value="03">03</option>
                                                      <option value="04">04</option>
                                                      <option value="05">05</option>
                                                      <option selected="selected" value="06">06</option>
                                                      <option value="07">07</option>
                                                      <option value="08">08</option>
                                                      <option value="09">09</option>
                                                      <option value="10">10</option>
                                                      <option value="11">11</option>
                                                      <option value="12">12</option>
                                                   </select>
                                                   <select name="exp_year" id="exp_year" autocomplete="cc-exp-year" data-stripe="exp_year" required="required" aria-required="true" class="select">
                                                      <option value="2017">2017</option>
                                                      <option selected="selected" value="2018">2018</option>
                                                      <option value="2019">2019</option>
                                                      <option value="2020">2020</option>
                                                      <option value="2021">2021</option>
                                                      <option value="2022">2022</option>
                                                      <option value="2023">2023</option>
                                                      <option value="2024">2024</option>
                                                      <option value="2025">2025</option>
                                                      <option value="2026">2026</option>
                                                      <option value="2027">2027</option>
                                                      <option value="2028">2028</option>
                                                      <option value="2029">2029</option>
                                                      <option value="2030">2030</option>
                                                      <option value="2031">2031</option>
                                                      <option value="2032">2032</option>
                                                      <option value="2033">2033</option>
                                                      <option value="2034">2034</option>
                                                      <option value="2035">2035</option>
                                                      <option value="2036">2036</option>
                                                      <option value="2037">2037</option>
                                                   </select>
                                                   <div class="error-messages-container">
                                                      <ul class="error-messages js-error-messages"></ul>
                                                   </div>
                                                </li>
                                                <input type="hidden" name="apple_pay_capable" id="apple_pay_capable" value="0" class="hidden">
                                                <input type="checkbox" name="reusable" id="reusable" value="1" class="hidden checkbox" checked="checked">
                                             </ol>
                                          </fieldset>
                                          <div class="not_refund_checkout" id="submit">
                                             <input type="submit" name="commit" value="continue" tabindex="-1" class="btn btn--green submit">
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                              <form id="js-stripe_form" action="/profile/new_payment_source" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="GevIHCjoJMF/+JPaBwmTZXvT/Nx43C5y2YSqP1tJ0aG5bCLwcZAm9NBbsOiT5uAQ/65lkTboXlA8TDu/+dPPBQ==" class="hidden">
                                 <input type="hidden" name="token" id="stripe_token" class="hidden">
                                 <input type="hidden" name="reusable" id="stripe_reusable" value="0" class="hidden">
                                 <input type="hidden" name="payment_type" id="payment_type" class="hidden">
                              </form>
                              <a class="btn btn--green js-pledge-submit" href="#"><span class="translation_missing" title="translation missing: en.credit_cards.index.Submit">Submit</span></a>
                           </div>
                        </div>
                     </div>
                     <div class="mb3 mb7-sm" id="stored_card_form">
                        <ul class="stored_cards">
                           <li class="credit_card_choice bg-violet-100 border border-grey-400">
                              <img height="29" width="46" alt="Visa" src="https://static.kickstarter.com/assets/payment_sources/icon-cc-visa-1431c2739e616da785a215e1c423b27710c6238e23c02ba8e64c97aa6932cb6c.png">
                              <div class="credit_card_info js-credit-card-info left">
                                 <strong class="credit_card_number">
                                 Card ending in 6520
                                 </strong>
                                 <span class="credit_card_expiry">
                                 Expires 08/2019
                                 </span>
                              </div>
                              <span class="forget_card">
                              <a class="remote_modal_dialog btn btn--dark-green btn--small right" data-modal-id="remove_credit_card_modal" href="/profile/credit_cards/49700910/edit">Remove this card</a>
                              </span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>

      <%= render 'svg' %>
   </body>
</html>
