<!DOCTYPE html>
<html class="credit_cards_index no-mega fontface js" data-request-id="817303d9-2573-43f9-802e-84fb6613c007" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">

   </head>
   <body class="users_edit credit_cards not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable fixed-width skip_autologin" id="credit_cards_index">
      <div class="NS_layouts__notifications"></div>
      <%= render 'header' %>
      <%= render 'user_menu' %>
      <div id="start-of-content" tabindex="-1"></div>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div id="main_content">
            <section class="px3 mb3 bg-white border-bottom">
               <div class="container-flex px3 pt3 pt10-sm mobile-scroll-container">
                  <h1>Settings</h1>
                  <div class="nav--subnav js-nav--subnav mobile-scroll-row">
                     <div class="js-nav--subnav__selected-indicator nav--subnav__selected-indicator--blue" style="left: 213px; width: 121px;"></div>
                     <ul class="nav--subnav__list">
                        <li class="nav--subnav__item">
                           <a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/account">Account</a>
                        </li>
                        <li class="nav--subnav__item"><a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/profile">Edit profile</a></li>
                        <li class="nav--subnav__item"><div class="nav--subnav__item__link nav--subnav__item__link--gray current" href="/profile/credit_cards">Payment methods</div></li>
                        <li class="nav--subnav__item">
                           <a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/following">Following</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </section>
            <div class="container-flex px3">
               <div id="manage_credit_cards">
                  <div class="row relative mb2">
                     <div class="col col-8">
                        <div class="title">
                           <h3>
                              Manage payment options
                           </h3>
                        </div>
                        <p class="intro mb0">
                           Any payment methods you've saved to Kickstarter are listed here (securely) for your convenience. You can always click "Remove this card" to take one off the list.
                        </p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col col-12">
                        <div class="col col-8">
                           <div class="payment_form p4 border rounded-medium bg-violet-100 mb4">
                              <!-- bare form only -->
                              <div class="mt2" id="new_card_form" style="display: block;">
                                 <div class="js-ksr-stripe" id="credit_card_form">
                                    <form data-accepted-card-types="[&quot;visa&quot;, &quot;mastercard&quot;, &quot;amex&quot;, &quot;jcb&quot;]" data-public-key="pk_live_zjuK52lEUYcvBhIXEUnOEJzk" method="post" novalidate="novalidate" target="_self">
                                       <div class="errored hide"></div>
                                       <div id="card-info">
                                          <fieldset>
                                             <legend>
                                                Add card information
                                                <span class="secure">
                                                <span class="ksr-icon__lock" aria-hidden="true"></span>
                                                Secure
                                                </span>
                                             </legend>
                                             <ol class="grouped">
                                                <li class="required" id="card_number">
                                                   <label for="number">Card number</label>
                                                   <input type="text" name="number" id="cc-card-number" pattern="[0-9]*" placeholder="Card number" autocomplete="cc-number" data-stripe="number" required="required" aria-required="true" class="fs-hide text">
                                                   <div class="error-messages-container">
                                                      <ul class="error-messages js-error-messages"></ul>
                                                   </div>
                                                </li>
                                                <li class="required" id="card_name" style="display: flex; justify-content: space-between; width: 150px; align-items: center; margin-top: 10px">
                                                  <div class="checkbox-container">
                                                    <div>
                                                      <input type="checkbox" id="rounded" />
                                                      <label for="rounded"></label>
                                                    </div>
                                                  </div>
                                                   <label for="name">Set as default</label>
                                                </li>
                                             </ol>
                                          </fieldset>
                                          <div class="not_refund_checkout" id="submit">
                                             <input type="submit" name="commit" value="continue" tabindex="-1" class="btn btn--green submit">
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                              <button id='credit_card_create' class="btn btn--green js-pledge-submit translation_missing">Submit</button>
                           </div>
                        </div>
                     </div>
                     <div class="mb3 mb7-sm" id="stored_card_form">
                        <ul class="stored_cards">
                          <% @credit_cards.each do |credit_card| %>
                            <li class="credit_card_choice bg-violet-100 border border-grey-400">
                               <img height="29" width="46" alt="Visa" src="https://static.kickstarter.com/assets/payment_sources/icon-cc-visa-1431c2739e616da785a215e1c423b27710c6238e23c02ba8e64c97aa6932cb6c.png">
                               <div class="credit_card_info js-credit-card-info left">
                                  <strong class="credit_card_number">
                                  Card ending in <%= credit_card['cc_number'] %>
                                  </strong>
                                  <span class="credit_card_expiry">
                                    <% if credit_card['is_enabled'] == 't' %>
                                      ENABLED
                                    <% end %>
                                  </span>
                                  <span class="credit_card_expiry">
                                    <% if credit_card['is_default'] =='t' %>
                                      DEFAULT
                                    <% end %>
                                  </span>
                               </div>
                               <span class="forget_card">
                               <div name='existing-cc-cards' card-id=<%= credit_card['cc_number'] %> class="remote_modal_dialog btn btn--dark-green btn--small right">Remove this card</div>
                               </span>
                            </li>
                          <% end %>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>

      <%= render 'svg' %>
   </body>
</html>
