<!DOCTYPE html>
<html class="following_index no-mega fontface js skrollr skrollr-desktop" data-request-id="6ae63a4f-aba2-47ad-b199-162217abb208" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">
      
   </head>
   <body class="following not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable responsive skip_autologin" id="following_index">
      <div class="NS_layouts__notifications"></div>
      <%= render 'header' %>
      <%= render 'user_menu' %>

      <div id="start-of-content" tabindex="-1"></div>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div id="main_content">
            <div class="NS-friends" data-follows_backings_count="0" data-follows_count="2">
               <div style="padding-top: 20px; padding-bottom: 20px;" class="header-hero bg-blue-light">
                  <div class="container-flex px2">
                     <div class="row">
                        <div class="col col-7">
                           <h1 class="f1 normal">
                              Following
                           </h1>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="border-top border-bottom">
                  <div class="container-flex mobile-scroll-container px2">
                     <div class="row mobile-scroll-row">
                        <div class="col col-12">
                           <div class="nav--subnav js-nav--subnav">
                              <div class="js-nav--subnav__selected-indicator selected-indicator" style="left: 0px; width: 93px;"></div>
                              <ul class="nav--subnav__list">
                                 <li class="nav--subnav__item">
                                    <div class="nav--subnav__item__link current">Following
                                    <span class="nav--subnav__item__meta js-friend-count">
                                    <%= @following.count %>
                                    </span>
                                  </div>
                                 </li>
                                 <li class="nav--subnav__item">
                                    <a class="nav--subnav__item__link " href="/users/<%= params[:id] %>/followers">Followers
                                    <span class="nav--subnav__item__meta">
                                    <%= @followers.count %>
                                    </span>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container-flex px2">
                  <div class="row">
                     <div class="col col-12">
                        <div class="user-display">
                           <div class="mobius_page">
                              <div class="missing" style="display: none">
                                 <div class="load_more">
                                    <a class="load_more btn btn--gray" href="#">Load more</a>
                                 </div>
                              </div>
                              <ul class="mobius">
                                 <li class="page" data-last_page="true" data-page_number="1">
                                   <% @following.each do |following| %>
                                     <div class="user-display__item">
                                        <div class="user-display__item__img">
                                           <div class="user-display__item__avatar">
                                              <a class="avatar" target="_blank" href="/users/<%= following['id'] %>/profile/about"><img class="avatar-image" alt="" style="height: auto;" src="https://ksr-ugc.imgix.net/assets/016/224/962/0058cb42df761b9286b063cf52af9c0a_original.jpg?w=80&amp;h=80&amp;fit=crop&amp;v=1491954431&amp;auto=format&amp;q=92&amp;s=e1f38279acda084600f3137ae7260782" width="80" height="80"></a>
                                           </div>
                                        </div>
                                        <div class="user-display__item__body">
                                           <div class="user-display__item__info">
                                              <a class="user-display__item__name" target="_blank" href="/users/<%= following['id'] %>/profile/about"><%= following['first_name'] %> <%= following['last_name'] %></a>
                                              <div class="user-display__item__meta-section">
                                                 <p class="user-display__item__meta__item">
                                                    <span class="bold">1</span> Created
                                                 </p>
                                              </div>
                                           </div>
                                        </div>
                                        <button user-id=<%= following['id'] %> name='unfollow-followers' class="js-follow-user btn--with-svg btn user-display__item__actions__button btn--green" style="width: 140px">
                                           Following
                                           <svg class="svg-icon__check ml1">
                                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
                                           </svg>
                                        </button>
                                     </div>
                                   <% end %>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tout-banner tout-banner--blue tout-banner--fixed mobile-static b0 js-friends-tout skrollable skrollable-between" data-0="position: fixed;" data-anchor-target=".js-mini-footer" data-bottom-center="position: static;" style="position: fixed;">
                  <div class="tout-banner__message">
                     <div class="container-flex px3">
                        <div class="row">
                           <div class="table">
                              <div class="col-9 table-cell">
                                 <div class="tout-banner__content">
                                    <div class="mobile-center">
                                       <div class="friends-tout__stat__container">
                                          <div class="friends-tout__stat__label">
                                             <p class="m0">
                                                Following
                                             </p>
                                          </div>
                                          <div class="friends-tout__stat">
                                             <div class="js-friend-count f3">
                                                <%= @following.count %>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="friends-tout__stat__container">
                                          <div class="friends-tout__stat__label">
                                             <p class="m0">
                                                Total projects backed
                                             </p>
                                          </div>
                                          <div class="friends-tout__stat">
                                             <div class="js-backed-projects-count h3">
                                                <%= @backed.count %>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-3 table-cell">
                                 <div class="tout-banner__content">
                                    <a class="btn btn--blue mobile-block right mobile-clear" href="/following?ref=find_profile_following">Check out some projects!</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>


      <%= render 'svg' %>
   </body>
</html>
