<!DOCTYPE html>
<html class="users_edit fontface js" data-request-id="7830c0e3-1bc8-44d8-99ee-4834070e43c9" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">

   </head>
   <body class="users_edit users not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable responsive skip_autologin" id="users_edit_profile">
      <div class="NS_layouts__notifications"></div>
      <%= render 'header' %>
      <%= render 'user_menu' %>
      <div id="start-of-content" tabindex="-1"></div>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div id="main_content">
            <section class="px3 mb3 bg-white border-bottom">
               <div class="container-flex px3 pt3 pt10-sm mobile-scroll-container">
                  <h1>Settings</h1>
                  <div class="nav--subnav js-nav--subnav mobile-scroll-row">
                     <div class="js-nav--subnav__selected-indicator nav--subnav__selected-indicator--blue" style="left: 99.6406px; width: 72px;"></div>
                     <ul class="nav--subnav__list">
                        <li class="nav--subnav__item">
                           <a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/account">Account</a>
                        </li>
                        <li class="nav--subnav__item"><div class="nav--subnav__item__link nav--subnav__item__link--gray current">Edit profile</div></li>
                        <li class="nav--subnav__item"><a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/credit_cards">Payment methods</a></li>
                        <li class="nav--subnav__item">
                           <a class="nav--subnav__item__link nav--subnav__item__link--gray" href="/users/<%= params[:id] %>/following">Following</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </section>
            <div class="container-flex px3">
              <%= form_tag profile_update_path, class: 'form-simple', role: 'form', "accept-charset"=> "UTF-8", method: :post do %>
                  <div class="row">
                     <fieldset class="col col-5 col-post-1">
                        <ol class="f5">
                           <li class="py2">
                              <label class="bold" for="user_name">Username</label>
                              <%= text_field_tag :username, '', class: 'required text', value: @user['username'], style: 'width: 100%', type: 'text', placeholder: 'Enter a unique name', id: 'user-name' %>
                           </li>
                           <li class="py2">
                              <label class="bold" for="user_Picture">Picture</label>
                              <div class="js-asset-upload asset_upload profile-photo avatar">
                                 <div class="error">
                                    <div class="message"></div>
                                 </div>
                                 <div class="success">
                                    <div class="image-clip">
                                       <img alt="" class="preview">
                                    </div>
                                 </div>
                                 <div class="upload">
                                    <input class="avatar file" url="/profile/avatar" type="file" name="user[avatar]" id="user_avatar">
                                    <strong class="center profile-photo">
                                    Choose an image from your computer
                                    </strong>
                                    <div class="progress">
                                       <div class="inner">
                                          <div class="bar">
                                             <div class="percentage">
                                                0%
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <span class="grey-dark">
                              JPEG, PNG, GIF, or BMP  •  50MB file limit
                              </span>
                              <div style="text-align: center; margin-top: 5px; margin-bottom: 5px">
                                OR
                              </div>
                              <div class="character_counter_wrapper">
                                <%= text_field_tag :profile_image_url, '', class: 'required text', value: @user['profile_image_url'], style: 'width: 100%', type: 'text', placeholder: 'Enter a public URL for the image', id: 'user-profile-image' %>
                              </div>
                           </li>
                           <li class="py2">
                              <label class="bold" for="user_biography">Biography</label>
                              <%= text_area_tag :biography, @user['biography'], style: 'height: 100px', class: 'input-textarea textarea', type: 'text', placeholder: 'Need not write a book, just introduce yourself', id: 'user_biography' %>
                              <span class="grey-dark">We suggest a short bio. If it's 300 characters or less it'll look great on your profile.</span>
                           </li>
                        </ol>
                     </fieldset>
                     <fieldset class="col col-6">
                        <ol class="f5">
                          <div style="display: flex; justify-content: space-between">
                            <li style="width: 40%" class="shortcut-url py2">
                               <label class="bold" for="user_slug">First name</label>
                               <%= text_field_tag :first_name, '', class: 'input-text input-search full-width text', value: @user['first_name'], style: 'width: 100%; padding-left: 10px', type: 'text', placeholder: 'Luke', id: 'user-email' %>
                            </li>
                            <li style="width: 40%" class="shortcut-url py2">
                               <label class="bold" for="user_slug">Last name</label>
                               <%= text_field_tag :last_name, '', class: 'input-text input-search full-width text', value: @user['last_name'], style: 'width: 100%; padding-left: 10px', type: 'text', placeholder: 'Skywalker', id: 'user-address' %>
                            </li>
                          </div>
                           <li class="shortcut-url py2">
                              <label class="bold" for="user_slug">Address</label>
                              <%= text_field_tag :address, '', class: 'input-text input-search full-width text', value: @user['address'], style: 'width: 100%; padding-left: 10px', type: 'text', placeholder: '373 92nd Street Apt A3', id: 'user-address' %>
                           </li>
                           <li class="shortcut-url py2">
                              <label class="bold" for="user_slug">State</label>
                              <%= text_field_tag :state, '', class: 'input-text input-search full-width text', style: 'width: 100%', value: @user['state'], type: 'text', placeholder: 'Eg: New York', id: 'user-state' %>
                           </li>
                           <li class="shortcut-url py2">
                              <label class="bold" for="user_slug">Country</label>
                              <%= text_field_tag :country, '', class: 'input-text input-search full-width text', style: 'width: 100%', value: @user['country'], type: 'text', placeholder: 'Eg: USA', id: 'user-country' %>
                           </li>
                           <li class="shortcut-url py2">
                              <label class="bold" for="user_slug">PIN</label>
                              <%= text_field_tag :pincode, '', class: 'input-text input-search full-width text', style: 'width: 100%', value: @user['pincode'], type: 'text', placeholder: 'Eg: USA', id: 'user-pincode' %>
                           </li>
                        </ol>
                     </fieldset>
                  </div>
                  <hr>
                  <div class="form-submit mb3 mb10-sm">
                     <input type="submit" name="commit" value="Save settings" class="btn btn--blue submit">
                  </div>
               <% end %>
            </div>
         </div>
      </main>

      <%= render 'svg' %>
   </body>
</html>
