<!DOCTYPE html>
<html class="site_index fontface js" data-request-id="6a99a737-ea11-4723-9483-0712fae53b7f" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">

      <title>
         Kickstarter
      </title>

      <style type="text/css"></style>

      <style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
         .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
         .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
      </style>
   </head>
   <body class="frame site not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable responsive skip_autologin" id="site_index">
      <%= render 'header' %>
      <%= render 'user_menu' %>
      <div id="start-of-content" tabindex="-1"></div>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div id="main_content">
            <a rel="publisher" style="display:none" href="https://plus.google.com/118239121095465976293">Google+</a>
            <div class="bg-white" id="content-wrap">
               <div class="NS_site__homepage_staff_picks py3 bg-white border-bottom">
                  <div class="container-flex px3 py3 relative">
                     <div class="row">
                        <div class="col col-10">
                           <h2 class="for-screenreader">Projects We Love</h2>
                           <div class="has_potd js-projects-slider projects-slider" id="project-slide">
                              <div class="row" id="project-array">
                                <% @type_projects.each do |project| %>
                                  <div class="col col-12 m0 project project0 relative" id="discover_<%= project['type'] %>_project">
                                     <div class="title pb3 pb5-sm mobile-hide">
                                        <div class="row">
                                           <div class="col">
                                              <h3 class="art m0 normal">
                                                 <a class="green-dark" href="/discover/recommended?ref=home_staff_picks">Projects We Love:</a>
                                                 <a class="green-dark" href="/discover/categories/art?ref=home_featured"><%= project['type'] %></a>
                                              </h3>
                                           </div>
                                           <div class="col-right see-all-link">
                                              <!-- <a class="f6 bold grey-dark" href="/discover/categories/art?ref=home_featured">See all Art projects
                                              </a> -->
                                           </div>
                                        </div>
                                     </div>
                                     <div class="project-card-wrap project-card-wide-wrap project-card-wide-wrap--potd bg-white rounded border ratio-16-9">
                                        <div class="project-card clearfix relative">
                                           <div class="project-thumbnail">
                                              <div class="mobile-show">
                                                 <div class="projects-we-love-badge projects-we-love-badge--overlay">
                                                    <div class="icon"><span class="ksr-icon__heart" aria-hidden="true"></span></div>
                                                    <div class="label">Project We Love</div>
                                                 </div>
                                              </div>
                                              <a class="project-thumbnail-wrap" href="/projects/<%= project['id'] %>"><img alt="Project image" style="height: auto;" class="project-thumbnail__image" src=<%= project['search_thumbnail_large'] %> width="560" height="315"></a>
                                           </div>
                                           <div class="project-card-interior">
                                              <h4 class="project-title ellipsis"><a class="green-dark" href="/projects/<%= project['id'] %>"><%= project['title'] %></a></h4>
                                              <p class="f6 grey-dark mobile-hide">by bachor</p>
                                              <p class="blurb f5 grey-dark mb3 mb5-sm mobile-hide">
                                                 <%= project['description'] %>
                                              </p>
                                              <div class="project-card-footer absolute-bottom home-staff-picks-pr0 ratio-16-9">
                                                 <div class="NS_projects__category_location ratio-16-9">
                                                    <a class="grey-dark mr3 nowrap type-12" href="/discover/places/chicago-il?ref=city"><span class="ksr-icon__location" aria-hidden="true"></span>
                                                    <%= project['location'] %>
                                                    </a><a class="grey-dark mr3 nowrap type-12" href="/discover/categories/art/public%20art?ref=category"><span class="ksr-icon__tag" aria-hidden="true"></span>
                                                    <%= project['tags'][1..-2].split(",").map(&:capitalize).join(", ") %>
                                                    </a>
                                                 </div>
                                                 <div class="project-stats-wrap">
                                                    <div class="project-pledged-successful bg-green white f6 pl2 pr2 mb2" style="display: none;">
                                                       <strong>Successfully funded!</strong>
                                                    </div>
                                                    <div class="NS_project__baseball_card_stats">
                                                       <div class="project-pledged-wrap bg-grey mb2 clip">
                                                          <div class="project-pledged bg-green full-height" style="width: 100%"></div>
                                                       </div>
                                                       <ul class="project-stats list m0 f6 no-wrap">
                                                          <li class="first funded inline-block mr3">
                                                             <strong class="block f4">219%</strong> <span class="grey-dark">funded</span>
                                                          </li>
                                                          <li class="pledged inline-block mr3">
                                                             <strong class="block f4"><span class="money">$10,952</span></strong> <span class="grey-dark">pledged</span>
                                                          </li>
                                                          <li class="backers inline-block mr3 mobile-hide">
                                                             <strong class="block f4">216</strong> <span class="grey-dark">backers</span>
                                                          </li>
                                                          <li class="last successful inline-block" style="display: none;">
                                                             <strong class="block f4">Funded</strong>
                                                             <div class="deadline grey-dark"></div>
                                                          </li>
                                                          <li class="last ksr_page_timer inline-block" data-end_time="2017-04-30T11:55:34-04:00">
                                                             <strong class="block f6">
                                                                <div class="js-num f4">5</div>
                                                             </strong>
                                                             <div class="span js-text grey-dark" data-word="left">days to go</div>
                                                          </li>
                                                       </ul>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                <% end %>
                              </div>
                           </div>
                        </div>
                        <div class="col col-2 mobile-hide">
                           <div class="js-category-nav category-nav border-left mt3 mb3 ml2 mr2">
                              <ul class="nav f5 list" id="type_list_divs">
                                <% @types.each do |type| %>
                                  <li>
                                     <div id="discover_<%= type["type"] %>" class="green-dark link" href="/discover/categories/art">
                                     <%= type["type"] %>
                                    </div>
                                  </li>
                                <% end %>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="py3 py7-sm js-project-cards-module js-project-group" data-ref="home_recs" id="recommended-projects">
                  <div class="container-flex px3 py3 test-homepage-recommendations">
                     <div class="title-card pb3">
                        <div class="row">
                           <div class="mobile-col">
                              <h2 class="f3 mb0 normal">
                                <div class="green-dark"> Recommended for you </div>
                              </h2>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="container-flex px3 mobile-scroll-container pb3 js-recs">
                     <div class="js-slider slider loading hide" style="display: block;">
                        <div class="js-project-list mobile-scroll-row row">
                           <div class="project col col-4 mobile-scroll-row-item">
                              <div class="project-card js-score-tracking js-track-project-card ratio-16-9  project-card-tall-big" data-pid="95795193" data-section="home_recs" data-weighted_score="" data-raw_score="" data-model_name="" data-project_pid="95795193" data-project_state="live" data-project_backers_count="3697" data-project_percent_raised="743.01084" data-project_pledged="371505.42" data-user_has_starred="false" data-user_is_backer="false">
                                 <div class="project-thumbnail">
                                    <div class="projects-we-love-badge projects-we-love-badge--overlay">
                                       <div class="icon">
                                          <span class="ksr-icon__heart"></span>
                                       </div>
                                       <div class="label">
                                          Project We Love
                                       </div>
                                    </div>
                                    <a href="https://www.kickstarter.com/projects/roadietuner/roadie-2-and-roadie-bass-automatic-instrument-tune?ref=home_recs" class="project-thumbnail-wrap" target="" data-score="" data-version="" data-pid="95795193">
                                    <img alt="Project image" class="project-thumbnail-img" src="https://ksr-ugc.imgix.net/assets/015/981/905/ac0ee633fd3672b783e9d16dee08b4d3_original.jpg?w=338&amp;h=190&amp;fit=fill&amp;bg=000000&amp;v=1490309372&amp;auto=format&amp;q=92&amp;s=4fee16d6a9fb57339ca2307e3c4cbc51" width="100%">
                                    </a>
                                 </div>
                                 <div class="project-card-content">
                                    <h6 class="project-title"><a href="https://www.kickstarter.com/projects/roadietuner/roadie-2-and-roadie-bass-automatic-instrument-tune?ref=home_recs" target="" data-score="" data-version="" data-pid="95795193">Roadie 2 and Roadie Bass Automatic Instrument Tuners</a></h6>
                                    <p class="project-byline">by Band Industries</p>
                                    <p class="project-blurb">
                                       Fully standalone, vibration detection to tune in the noisiest environments and compatible with almost all stringed instruments
                                    </p>
                                 </div>
                                 <div class="project-card-footer">
                                    <div class="project-location">
                                       <a href="https://www.kickstarter.com/discover/places/port-townsend-wa" data-location="{&quot;id&quot;:2475511,&quot;name&quot;:&quot;Port Townsend&quot;,&quot;slug&quot;:&quot;port-townsend-wa&quot;,&quot;short_name&quot;:&quot;Port Townsend, WA&quot;,&quot;displayable_name&quot;:&quot;Port Townsend, WA&quot;,&quot;country&quot;:&quot;US&quot;,&quot;state&quot;:&quot;WA&quot;,&quot;type&quot;:&quot;Town&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/port-townsend-wa&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/port-townsend-wa&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1493147980.274914a2efa5dce719c2b750b191b6a3812fa598&amp;woe_id=2475511&quot;}}}">
                                       <span class="ksr-icon__location" aria-hidden="true"></span>
                                       <span class="location-name">Port Townsend, WA</span>
                                       </a>
                                    </div>
                                    <div class="project-stats-container">
                                       <div class="project-progress-bar">
                                          <div class="project-percent-pledged" style="width: 100%"></div>
                                       </div>
                                       <ul class="project-stats">
                                          <li>
                                             <div class="project-stats-value">743%</div>
                                             <span class="project-stats-label">funded</span>
                                          </li>
                                          <li class="js-amount-pledged">
                                             <div class="project-stats-value">$371,505</div>
                                             <span class="project-stats-label">pledged</span>
                                          </li>
                                          <li class="ksr_page_timer" data-end_time="1494050400000">
                                             <div class="project-stats-value js-num">11</div>
                                             <div data-word="left" class="project-stats-label js-text">days to go</div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="project col col-4 mobile-scroll-row-item">
                              <div class="project-card js-score-tracking js-track-project-card ratio-16-9  project-card-tall-big" data-pid="12190819" data-section="home_recs" data-weighted_score="" data-raw_score="" data-model_name="" data-project_pid="12190819" data-project_state="live" data-project_backers_count="8000" data-project_percent_raised="3285.7677000000003" data-project_pledged="328576.77" data-user_has_starred="false" data-user_is_backer="false">
                                 <div class="project-thumbnail">
                                    <div class="projects-we-love-badge projects-we-love-badge--overlay">
                                       <div class="icon">
                                          <span class="ksr-icon__heart"></span>
                                       </div>
                                       <div class="label">
                                          Project We Love
                                       </div>
                                    </div>
                                    <a href="https://www.kickstarter.com/projects/879498424/cora-ball-microfiber-catching-laundry-ball?ref=home_recs" class="project-thumbnail-wrap" target="" data-score="" data-version="" data-pid="12190819">
                                    <img alt="Project image" class="project-thumbnail-img" src="https://ksr-ugc.imgix.net/assets/015/947/412/891d325c6e96d9736a84c649dc313d14_original.jpeg?w=338&amp;h=190&amp;fit=fill&amp;bg=000000&amp;v=1490662039&amp;auto=format&amp;q=92&amp;s=b122b4ca3ab17c4318f4be90b92c1de9" width="100%">
                                    </a>
                                 </div>
                                 <div class="project-card-content">
                                    <h6 class="project-title"><a href="https://www.kickstarter.com/projects/879498424/cora-ball-microfiber-catching-laundry-ball?ref=home_recs" target="" data-score="" data-version="" data-pid="12190819">Cora Ball - Microfiber Catching Laundry Ball</a></h6>
                                    <p class="project-byline">by Rozalia Project</p>
                                    <p class="project-blurb">
                                       Protect the ocean environment with this easy-to-use laundry ball that catches microfibers shedding off our clothes in the washer.
                                    </p>
                                 </div>
                                 <div class="project-card-footer">
                                    <div class="project-location">
                                       <a href="https://www.kickstarter.com/discover/places/burlington-vt" data-location="{&quot;id&quot;:2372071,&quot;name&quot;:&quot;Burlington&quot;,&quot;slug&quot;:&quot;burlington-vt&quot;,&quot;short_name&quot;:&quot;Burlington, VT&quot;,&quot;displayable_name&quot;:&quot;Burlington, VT&quot;,&quot;country&quot;:&quot;US&quot;,&quot;state&quot;:&quot;VT&quot;,&quot;type&quot;:&quot;Town&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/burlington-vt&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/burlington-vt&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1493147980.8bc7b5431eeb4e00ee4b0b20e65e55d5d22f6d55&amp;woe_id=2372071&quot;}}}">
                                       <span class="ksr-icon__location" aria-hidden="true"></span>
                                       <span class="location-name">Burlington, VT</span>
                                       </a>
                                    </div>
                                    <div class="project-stats-container">
                                       <div class="project-progress-bar">
                                          <div class="project-percent-pledged" style="width: 100%"></div>
                                       </div>
                                       <ul class="project-stats">
                                          <li>
                                             <div class="project-stats-value">3285%</div>
                                             <span class="project-stats-label">funded</span>
                                          </li>
                                          <li class="js-amount-pledged">
                                             <div class="project-stats-value">$328,576</div>
                                             <span class="project-stats-label">pledged</span>
                                          </li>
                                          <li class="ksr_page_timer" data-end_time="1493154000000">
                                             <div class="project-stats-value js-num">25</div>
                                             <div data-word="left" class="project-stats-label js-text">hours to go</div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="project col col-4 mobile-scroll-row-item">
                              <div class="project-card js-score-tracking js-track-project-card ratio-16-9  project-card-tall-big" data-pid="802965535" data-section="home_recs" data-weighted_score="" data-raw_score="" data-model_name="" data-project_pid="802965535" data-project_state="live" data-project_backers_count="308" data-project_percent_raised="128.97799999999998" data-project_pledged="64489" data-user_has_starred="false" data-user_is_backer="false">
                                 <div class="project-thumbnail">
                                    <div class="projects-we-love-badge projects-we-love-badge--overlay">
                                       <div class="icon">
                                          <span class="ksr-icon__heart"></span>
                                       </div>
                                       <div class="label">
                                          Project We Love
                                       </div>
                                    </div>
                                    <a href="https://www.kickstarter.com/projects/2143289055/mu-table-the-multi-functional-childrens-play-table?ref=home_recs" class="project-thumbnail-wrap" target="" data-score="" data-version="" data-pid="802965535">
                                    <img alt="Project image" class="project-thumbnail-img" src="https://ksr-ugc.imgix.net/assets/016/231/413/81b99914b3ed53d891a3b9ee42bc3350_original.png?w=338&amp;h=190&amp;fit=fill&amp;bg=000000&amp;v=1492700991&amp;auto=format&amp;q=92&amp;s=451779f4a62d3adb754352b3e52550eb" width="100%">
                                    </a>
                                 </div>
                                 <div class="project-card-content">
                                    <h6 class="project-title"><a href="https://www.kickstarter.com/projects/2143289055/mu-table-the-multi-functional-childrens-play-table?ref=home_recs" target="" data-score="" data-version="" data-pid="802965535">[MU]Table: The Multi-Functional Children's Play Table</a></h6>
                                    <p class="project-byline">by Martina and Elisa Mukako</p>
                                    <p class="project-blurb">
                                       [MU]table conveniently transforms from a beautifully-designed table into an all-in-one play table for children ages one through eight!
                                    </p>
                                 </div>
                                 <div class="project-card-footer">
                                    <div class="project-location">
                                       <a href="https://www.kickstarter.com/discover/places/milan-milan-lombardy" data-location="{&quot;id&quot;:718345,&quot;name&quot;:&quot;Milan&quot;,&quot;slug&quot;:&quot;milan-milan-lombardy&quot;,&quot;short_name&quot;:&quot;Milan, Italy&quot;,&quot;displayable_name&quot;:&quot;Milan, Italy&quot;,&quot;country&quot;:&quot;IT&quot;,&quot;state&quot;:&quot;Lombardy&quot;,&quot;type&quot;:&quot;Town&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/milan-milan-lombardy&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/milan-milan-lombardy&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1493147981.13edd39a9e7c766d35b8edfa0d28b894d7dcc7b3&amp;woe_id=718345&quot;}}}">
                                       <span class="ksr-icon__location" aria-hidden="true"></span>
                                       <span class="location-name">Milan, Italy</span>
                                       </a>
                                    </div>
                                    <div class="project-stats-container">
                                       <div class="project-progress-bar">
                                          <div class="project-percent-pledged" style="width: 100%"></div>
                                       </div>
                                       <ul class="project-stats">
                                          <li>
                                             <div class="project-stats-value">128%</div>
                                             <span class="project-stats-label">funded</span>
                                          </li>
                                          <li class="js-amount-pledged">
                                             <div class="project-stats-value">€64,489</div>
                                             <span class="project-stats-label">pledged</span>
                                          </li>
                                          <li class="ksr_page_timer" data-end_time="1495553317000">
                                             <div class="project-stats-value js-num">28</div>
                                             <div data-word="left" class="project-stats-label js-text">days to go</div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="NS_site__homepage_popular py3 py7-sm js-project-group" id="trending-projects">
                  <div class="container-flex px3 py3">
                     <div class="title-card pb3">
                        <div class="row">
                           <div class="mobile-col">
                              <h2 class="f3 mb0 normal">
                                <div class="green-dark"> What's popular </div>
                              </h2>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="container-flex px3 mobile-scroll-container pb3">
                     <div class="row mobile-scroll-row">
                        <div class="mobile-scroll-row-item col col-4">
                           <div class="js-score-tracking js-track-project-card project-card project-card-tall-big project-card-wrap ratio-16-9" data-pid="854658041" data-project_backers_count="288" data-project_percent_raised="336.44" data-project_pid="854658041" data-project_pledged="8411.0" data-project_state="live" data-section="home_popular">
                              <div class="project-thumbnail">
                                 <div class="projects-we-love-badge projects-we-love-badge--overlay">
                                    <div class="icon"><span class="ksr-icon__heart" aria-hidden="true"></span></div>
                                    <div class="label">Project We Love</div>
                                 </div>
                                 <a class="project-thumbnail-wrap" data-pid="854658041" href="/projects/samcornwell/the-solarcan?ref=home_popular" target="">
                                 <img class="project-thumbnail-img" width="100%" alt="Project image" src="https://ksr-ugc.imgix.net/assets/015/862/068/ada6ac329dfed70bec2bf286da23d63d_original.jpg?w=352&amp;h=198&amp;fit=fill&amp;bg=000000&amp;v=1489508842&amp;auto=format&amp;q=92&amp;s=152650c8d0e027e224051f7c53a76b19">
                                 </a>
                              </div>
                              <div class="project-card-content">
                                 <h6 class="project-title"><a target="" data-score="null" data-version="null" data-pid="854658041" href="/projects/samcornwell/the-solarcan?ref=home_popular">The Solarcan</a></h6>
                                 <p class="project-byline">Sam Cornwell</p>
                                 <p class="project-blurb">
                                    Solarcan is a unique camera designed to produce extreme time exposures that capture the Sun's path through the sky over many months
                                 </p>
                              </div>
                              <div class="project-card-footer">
                                 <div class="project-location">
                                    <a data-location="{&quot;id&quot;:12696186,&quot;name&quot;:&quot;The Scottish Borders&quot;,&quot;slug&quot;:&quot;the-scottish-borders-gb&quot;,&quot;short_name&quot;:&quot;The Scottish Borders, UK&quot;,&quot;displayable_name&quot;:&quot;The Scottish Borders, UK&quot;,&quot;country&quot;:&quot;GB&quot;,&quot;state&quot;:&quot;Scotland&quot;,&quot;type&quot;:&quot;LocalAdmin&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/the-scottish-borders-gb&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/the-scottish-borders-gb&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1493148400.bf27966919f58be10211a28cdcf0471369de5b43&amp;woe_id=12696186&quot;}}}" href="/discover/places/the-scottish-borders-gb?ref=city" target="">
                                    <span aria-hidden="true" class="ksr-icon__location"></span>
                                    <span class="location-name">The Scottish Borders, UK</span>
                                    </a>
                                 </div>
                                 <div class="project-stats-container">
                                    <div class="project-pledged-successful">
                                       <strong>Successfully funded!</strong>
                                    </div>
                                    <div class="project-progress-bar">
                                       <div class="project-percent-pledged" style="width: 100%"></div>
                                    </div>
                                    <ul class="project-stats">
                                       <li>
                                          <div class="project-stats-value">336%</div>
                                          <span class="project-stats-label">funded</span>
                                       </li>
                                       <li class="js-amount-pledged">
                                          <div class="project-stats-value"><span class="money">£8,411</span></div>
                                          <span class="project-stats-label">pledged</span>
                                       </li>
                                       <li style="display: none;">
                                          <div class="project-stats-value">Funded</div>
                                          <span class="project-stats-label">
                                          </span>
                                       </li>
                                       <li class="ksr_page_timer" data-end_time="2017-05-17T22:27:38-04:00">
                                          <div class="project-stats-value">
                                             <div class="js-num">23</div>
                                          </div>
                                          <div class="project-stats-label js-text" data-word="left">days to go</div>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="mobile-scroll-row-item col col-4">
                           <div class="js-score-tracking js-track-project-card project-card project-card-tall-big project-card-wrap ratio-16-9" data-pid="286992658" data-project_backers_count="70" data-project_percent_raised="102.57142857142858" data-project_pid="286992658" data-project_pledged="3590.0" data-project_state="live" data-section="home_popular">
                              <div class="project-thumbnail">
                                 <div class="projects-we-love-badge projects-we-love-badge--overlay">
                                    <div class="icon"><span class="ksr-icon__heart" aria-hidden="true"></span></div>
                                    <div class="label">Project We Love</div>
                                 </div>
                                 <a class="project-thumbnail-wrap" data-pid="286992658" href="/projects/1024945189/send-talya-to-vienna-for-danceweb-2017?ref=home_popular" target="">
                                 <img class="project-thumbnail-img" width="100%" alt="Project image" src="https://ksr-ugc.imgix.net/assets/015/791/988/f6a6ac1bfb01f72111a2d915f11f7e27_original.JPG?w=352&amp;h=198&amp;fit=fill&amp;bg=000000&amp;v=1489165802&amp;auto=format&amp;q=92&amp;s=c6109b7ae1878bf7cde5f6a3e1ab9e46">
                                 </a>
                              </div>
                              <div class="project-card-content">
                                 <h6 class="project-title"><a target="" data-score="null" data-version="null" data-pid="286992658" href="/projects/1024945189/send-talya-to-vienna-for-danceweb-2017?ref=home_popular">Send Talya to Vienna for danceWEB 2017!</a></h6>
                                 <p class="project-byline">Talya Epstein</p>
                                 <p class="project-blurb">
                                    For dance artist, Talya Epstein, to accept her danceWEB scholarship invitation &amp; go to Vienna this summer for an international exchange
                                 </p>
                              </div>
                              <div class="project-card-footer">
                                 <div class="project-location">
                                    <a data-location="{&quot;id&quot;:551801,&quot;name&quot;:&quot;Vienna&quot;,&quot;slug&quot;:&quot;vienna-at&quot;,&quot;short_name&quot;:&quot;Vienna, Austria&quot;,&quot;displayable_name&quot;:&quot;Vienna, Austria&quot;,&quot;country&quot;:&quot;AT&quot;,&quot;state&quot;:&quot;Vienna&quot;,&quot;type&quot;:&quot;Town&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/vienna-at&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/vienna-at&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1493148400.c7b426aea1e8734c8cc70d07d0f15620d560ad12&amp;woe_id=551801&quot;}}}" href="/discover/places/vienna-at?ref=city" target="">
                                    <span aria-hidden="true" class="ksr-icon__location"></span>
                                    <span class="location-name">Vienna, Austria</span>
                                    </a>
                                 </div>
                                 <div class="project-stats-container">
                                    <div class="project-pledged-successful">
                                       <strong>Successfully funded!</strong>
                                    </div>
                                    <div class="project-progress-bar">
                                       <div class="project-percent-pledged" style="width: 100%"></div>
                                    </div>
                                    <ul class="project-stats">
                                       <li>
                                          <div class="project-stats-value">102%</div>
                                          <span class="project-stats-label">funded</span>
                                       </li>
                                       <li class="js-amount-pledged">
                                          <div class="project-stats-value"><span class="money">$3,590</span></div>
                                          <span class="project-stats-label">pledged</span>
                                       </li>
                                       <li style="display: none;">
                                          <div class="project-stats-value">Funded</div>
                                          <span class="project-stats-label">
                                          </span>
                                       </li>
                                       <li class="ksr_page_timer" data-end_time="2017-05-07T15:56:37-04:00">
                                          <div class="project-stats-value">
                                             <div class="js-num">13</div>
                                          </div>
                                          <div class="project-stats-label js-text" data-word="left">days to go</div>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="mobile-scroll-row-item col col-4">
                           <div class="js-score-tracking js-track-project-card project-card project-card-tall-big project-card-wrap ratio-16-9" data-pid="926993498" data-project_backers_count="463" data-project_percent_raised="328.7" data-project_pid="926993498" data-project_pledged="16435.0" data-project_state="live" data-section="home_popular">
                              <div class="project-thumbnail">
                                 <a class="project-thumbnail-wrap" data-pid="926993498" href="/projects/2033061111/only-in-japan-hitchhiking-adventure-2017?ref=home_popular" target="">
                                 <img class="project-thumbnail-img" width="100%" alt="Project image" src="https://ksr-ugc.imgix.net/assets/015/961/515/0855f9eba7a5c02852fe09a0c8d14d3a_original.jpg?w=352&amp;h=198&amp;fit=fill&amp;bg=000000&amp;v=1490188461&amp;auto=format&amp;q=92&amp;s=25676b958aadb51d01f219957d19c3fb">
                                 </a>
                              </div>
                              <div class="project-card-content">
                                 <h6 class="project-title"><a target="" data-score="null" data-version="null" data-pid="926993498" href="/projects/2033061111/only-in-japan-hitchhiking-adventure-2017?ref=home_popular">ONLY in JAPAN: Hitchhiking Adventure 2017</a></h6>
                                 <p class="project-byline">John Daub</p>
                                 <p class="project-blurb">
                                    Get ready for the ride of your life as ONLY in JAPAN's series producer John Daub hitchhikes the country for a month.
                                 </p>
                              </div>
                              <div class="project-card-footer">
                                 <div class="project-location">
                                    <a data-location="{&quot;id&quot;:1118370,&quot;name&quot;:&quot;Tokyo&quot;,&quot;slug&quot;:&quot;tokyo-jp&quot;,&quot;short_name&quot;:&quot;Tokyo, Japan&quot;,&quot;displayable_name&quot;:&quot;Tokyo, Japan&quot;,&quot;country&quot;:&quot;JP&quot;,&quot;state&quot;:&quot;Tokyo Prefecture&quot;,&quot;type&quot;:&quot;Town&quot;,&quot;is_root&quot;:false,&quot;urls&quot;:{&quot;web&quot;:{&quot;discover&quot;:&quot;https://www.kickstarter.com/discover/places/tokyo-jp&quot;,&quot;location&quot;:&quot;https://www.kickstarter.com/locations/tokyo-jp&quot;},&quot;api&quot;:{&quot;nearby_projects&quot;:&quot;https://api.kickstarter.com/v1/discover?signature=1493148400.c6acf904d85981ace6d5cb260436f28f8e53dff8&amp;woe_id=1118370&quot;}}}" href="/discover/places/tokyo-jp?ref=city" target="">
                                    <span aria-hidden="true" class="ksr-icon__location"></span>
                                    <span class="location-name">Tokyo, Japan</span>
                                    </a>
                                 </div>
                                 <div class="project-stats-container">
                                    <div class="project-pledged-successful">
                                       <strong>Successfully funded!</strong>
                                    </div>
                                    <div class="project-progress-bar">
                                       <div class="project-percent-pledged" style="width: 100%"></div>
                                    </div>
                                    <ul class="project-stats">
                                       <li>
                                          <div class="project-stats-value">328%</div>
                                          <span class="project-stats-label">funded</span>
                                       </li>
                                       <li class="js-amount-pledged">
                                          <div class="project-stats-value"><span class="money">$16,435</span></div>
                                          <span class="project-stats-label">pledged</span>
                                       </li>
                                       <li style="display: none;">
                                          <div class="project-stats-value">Funded</div>
                                          <span class="project-stats-label">
                                          </span>
                                       </li>
                                       <li class="ksr_page_timer" data-end_time="2017-04-29T22:59:00-04:00">
                                          <div class="project-stats-value">
                                             <div class="js-num">5</div>
                                          </div>
                                          <div class="project-stats-label js-text" data-word="left">days to go</div>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <%= render 'scripts' %>
      <%= render 'svg' %>
   </body>
</html>
