<!DOCTYPE html>
<html>
  <head>
    <title>Kickstarer</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://static.kickstarter.com/favicon.ico" rel="icon" type="image/x-icon">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag('menuToggle.js') %>        
  </body>
</html>
